*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

@font-face {
    font-family: ninja;
    src: url(/font/Japanese\ 3017.ttf);
  }


#content{
    width: 100%;
    height: 90%;
    background-image: url(/img/sushibg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    height: 10%;
    width: 100%;
}

#title{
    font-family: ninja;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
    font-size: 20px;
}

.nav-button{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 5;
}

.burgerline{
    height: 2px;
    width: 65%;
    background-color: black;
}

.navbarOverlay.active{
    transition: 200ms ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    z-index: 10;
}

.navbarOverlay ul{
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    height: 30%;
    
}

.navbarOverlay ul li button{
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;

}

.overlayClose{
    position: fixed;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
    font-size: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.sushiHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

.homeTitle{
    color: white; 
    font-weight: bold;
    font-size: 35px;
    background-color: rgb(0,0,0,0.3);
    transform:translate(0%,-150%);
}

.menuBtn{
    padding: 10px;
    background-color: rgb(0,0,0,0.3);
    border: none;
    color: white;
}